body{
    background-color: #e39473;
    margin:0;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.block{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 0.5s;
}

.block:hover{
    border-radius: 50%;
    background-color: #757575;
    transition: 0.5s;
}